doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/public/components/fontawesome/css/font-awesome.min.css')
  body
    .container
      block content
    script(src='/public/components/bootstrap/dist/js/bootstrap.min.js')
